<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="olv-ant01">
<xacro:include filename="$(find olv_module_descriptions)/urdf/olv-srv01.urdf.xacro" />
<xacro:include filename="$(find olv_module_descriptions)/urdf/olv-cam01.urdf.xacro" />
<xacro:include filename="$(find olv_brackets_descriptions)/urdf/olv-xbolt.urdf.xacro" />
<xacro:include filename="$(find olv_brackets_descriptions)/urdf/olv-lbracket.urdf.xacro" />
<xacro:include filename="$(find olv_module_descriptions)/urdf/olv-wheel01.urdf.xacro" />

<link name="base_link" />
<xacro:olv-srv01 namespace="pan" parent_link="base_link" mounting_side="bottom" mounting_rotation="0"/>
<xacro:olv-wheel01 namespace="wheel01" parent_link="pan_rotor_link" mounting_side="bottom" mounting_rotation="0"/>
</robot>
