<?xml version="1.0"?>
<robot name="olv-owl-lbracket">
  <link name="base_link">
    <visual>
      <geometry>
        <mesh filename="package://olive_owl_description/meshes/olv-owl-lbracket.dae"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <box size="0.046 0.055 0.078" />
      </geometry>
      <origin rpy="0 0 0" xyz="0 0.008 0.039" />
    </collision>
  </link>
</robot>