<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="olv-owl01-lbracket-robot">
  <xacro:macro params="namespace:=olv_owl01_lbracket parent_link mounting_side mounting_rotation"
    name="olv-owl01-lbracket">
    <!-- Check for unexpected value and print warning -->
    <xacro:if value="${mounting_side != 'bottom' and mounting_side != 'top'}">
      <xacro:warning>Unexpected value for mounting_side in olv-xbolt macro. Accepted values are
        'bottom', 'top'. Using default 'top'.</xacro:warning>
      <xacro:property name="mounting_side" value="top" />
    </xacro:if>

    <!-- Conditional translations based on mount_frame -->
    <xacro:if value="${mounting_side == 'top'}">
      <xacro:property name="body_translation" value="0 0.055 -0.024" />
      <xacro:property name="body_rotation" value="1.57 0 0" />
      <xacro:property name="child_translation" value="0 0 0 " />
      <xacro:property name="child_rotation" value="3.141 0 ${mounting_rotation}" />
    </xacro:if>
    <xacro:if value="${mounting_side == 'bottom'}">
      <xacro:property name="body_translation" value="0 0 0" />
      <xacro:property name="body_rotation" value="0 0 ${mounting_rotation}" />
      <xacro:property name="child_translation" value="0 0.024 0.055" />
      <xacro:property name="child_rotation" value="1.57 0 0" />
    </xacro:if>


    <link name="${namespace}_body_link">
      <visual>
        <geometry>
          <mesh filename="package://olive_owl_description/meshes/olv-owl01-lbracket.dae" />
        </geometry>
      </visual>
      <collision>
        <geometry>
         <box size="0.055 0.055 0.078"/> 
        </geometry>
        <origin xyz="0 0.008 0.039" rpy="0 0 0" />
      </collision>
    </link>
    <link name="${namespace}_child_link" />

    <joint name="${namespace}_fixed_body_joint" type="fixed">
      <parent link="${parent_link}" />
      <child link="${namespace}_body_link" />
      <origin xyz="${body_translation}" rpy="${body_rotation}" />
    </joint>

    <joint name="${namespace}_fixed_child_joint" type="fixed">
      <parent link="${namespace}_body_link" />
      <child link="${namespace}_child_link" />
      <origin xyz="${child_translation}" rpy="${child_rotation}" />
    </joint>
  </xacro:macro>
</robot>